/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700;900&display=swap"); */

/* noto-serif-jp-regular - latin_japanese */
@font-face {
	font-family: "Noto Serif JP";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-regular-min.woff") format("woff"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-600 - latin_japanese */
@font-face {
	font-family: "Noto Serif JP";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-600-min.woff") format("woff"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-700 - latin_japanese */
@font-face {
	font-family: "Noto Serif JP";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-700-min.woff") format("woff"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-900 - latin_japanese */
@font-face {
	font-family: "Noto Serif JP";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-900-min.woff") format("woff"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/notoserif/noto-serif-jp-v15-latin_japanese-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::selection {
    background: var(--primary);
    color: var(--asterone-black);
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Noto Serif JP", serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}

body {
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* gap: 1em; */
    min-height: 100vh;
    --asterone-yellow: #ffcc00;
    --asterone-black: #0d0d0d;

    --navbar-black: #252628;
    --light-gray: #bbb;

    --primary: var(--asterone-yellow);
    --primary-dark: #FF9E0D;
    --primary-light: #FEFF0D;
    --primary-bg: rgba(255, 204, 0, 0.6);


    --secondary-blue: #199DFF;
    --secondary-blue-bg: hsl(206, 80%, 95%);
    --secondary-violet: #8B19FF;
    --secondary-violet-bg: hsl(270, 100%, 85%);

    --white: #fff;
    --black: var(--asterone-black);
    --black-light: hsl(0, 0%, 25%);
    --header-bg: #f2f2f2;

    /* sizes */
    --header-height: 100px;
    --footer-height: 200px;
    --border-radius: 10px;
    /* page alignment */
    --content-start: 7vw;
}
/* ************* Header ************* */
header .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: var(--navbar-black);
    padding: 10px var(--content-start);
}

header .top .left,
header .top .right {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

header .top .left div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

header .top i,
header .top span,
header .top a {
    color: var(--light-gray);
}

header .top i:hover,
header .top a:hover,
header .top .left .div:focus-within,
header .top .working-hours:focus-within {
    color: var(--white);
}

header .top .right .social-icons {
    display: flex;
    gap: 10px;
}



/* Header bottom */
header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: var(--header-bg);
    padding: 0 var(--content-start);
    box-shadow: rgba(48, 45, 45, 0.1) 0px 20px 25px -5px, rgba(37, 32, 32, 0.04) 0px 10px 10px -5px;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1rem 0;
}

.brand-logo img {
    width: 10rem;
    height: auto;
}

.brand-logo h3 {
    color: var(--asterone-black);
    font-weight: 900;
}

footer .brand-logo h3 {
    color: var(--header-bg);
}

.brand-logo h3 span {
    color: var(--primary);
}


.hamburger {
    position: absolute;
    top: .91rem;
    right: var(--content-start);
    z-index: 5;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.hamburger div {
    position: relative;
    width: 2em;
    height: 0.2em;
    border-radius: 3px;
    background-color: var(--primary-dark);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}

header .bottom nav {
    z-index: 2;
}

header .bottom nav ul {
    display: flex;
    gap: 1em;
}

header .bottom nav ul li {
    position: relative;
}

/* header .bottom nav ul li.active {} */

header .bottom nav ul li::after {
    content: "";
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    transition: width 0.2s ease-in;
}

header .bottom nav ul li:hover::after,
header .bottom nav ul li.active::after {
    width: 100%;
}

header .bottom nav ul li:hover {
    color: var(--asterone-black);
}

/* Footer */
footer {
    position: relative;
    overflow: hidden;
    /* height: fit-content; */
    padding: 3rem var(--content-start) 1rem var(--content-start);
    background-color: var(--navbar-black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

footer .footer-container .sec {
    margin-right: 30px;
    width: fit-content;
}

footer .footer-container .sec.about-us {
    width: 22%;
}

footer .footer-container .sec.about-us p {
    line-height: 2;
}

footer .footer-container h2 {
    position: relative;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 15px;
    width: fit-content;
}

footer p {
    color: #999;
}

.social-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.social-links li {
    list-style: none;
}

.social-links li a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid;
    display: grid;
    place-content: center;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.5s;
}

.social-links li a:hover {
    color: #ffe501;
    transform: translateY(-7px);
}

.social-links li a .fab {
    color: var(--primary);
    font-size: 1.5rem;
}

div.links li {
    color: #999;
    padding-bottom: 1rem;
}

div.links li a:hover {
    color: var(--primary);
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: var(--primary);
}

.copyright-text {
    margin-top: 1em;
    width: 100%;
    background: #252628;
    text-align: center;
    color: #999;
    font-size: small;
}
