

div.sidenav{
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 1rem;
    background-color: var(--header-bg);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
div.sidenav a {
    padding: 1rem 2rem 1rem 3rem;
    font-size: 1.3rem;
    color: var(--asterone-black);
    display: block;
}
div.sidenav a:hover {
    color: var(--asterone-yellow);
}

div.flow-steps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
div.flow-step {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--header-bg);
}
div.flow-step-number {
   position: relative;
   right: -50%;
   font-size: 2rem;
   font-weight: bold;
}
div.flow-step-content {
    position: relative;
    top: 20%;
    left: 30%;
    transition: ease-in-out 0.5s;
}
div.flow-step:hover {
    transition: ease-in 0.5s;
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

section.middle-part {
    background-color: var(--header-bg);
}
div.whole-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    
}

div.middle-container {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

div.middle-container p {
    text-align: center;
    z-index: 1;
    cursor: pointer;
    padding: 1rem;
    width: 280px;
    border: 1px solid var(--header-bg);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--asterone-yellow-darker);
}

div.middle-container p:hover {
    transform: scale(1.2);
    transition: ease 0.5s;
    border: 2px solid var(--header-bg);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    color: var(--asterone-yellow);
}
div.middle-container-right p{
    text-align: center;
    width: 280px;
    line-height: 2;
}