section.recruitment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img img {
  width: 100%;
}


form {
  max-width: 700px;
  width: 100%;
  margin: 5% auto;
}

label[for="file"] {
  cursor: pointer;
}


form legend {}

.contentform {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftcontact {
  padding-right: 2rem;
  border-right: 1px dotted #CCC;
}

.rightcontact {
  padding-left: 2rem;
  /* padding: 0px 0px 0px 15px; */
}

.form-group {
  /* overflow: hidden;
  clear: both; */
}

.form-group label {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: #333;
}

.form-group .input-container {
  display: flex;
  align-items: flex-start;
}

input,
textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
}

textarea {
  height: 100px;
  resize: vertical;
}

input:focus-visible,
input:focus,
textarea:focus,
textarea:focus-visible {
  outline: none;
  border-color: var(--primary);
}

.icon-case {
  width: 35px;
  border-radius: 5px 0px 0px 5px;
  background: #eeeeee;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.icon-case i {
  color: #555;
}

i.fa-cloud-upload-alt {
  font-size: 2rem;
  text-align: center;
  color: #555;
  margin-bottom: .5rem;
}

.drag-drop-area {
  display: grid;
  place-content: center;
  border: 1px dashed #ccc;
  padding: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.drag-drop-area p {
  font-size: smaller;
  text-align: center;
  opacity: 0.7;
}

a.sample {
  font-size: small;
  display: block;
  text-align: end;
}

a.sample i {
  color: #555;
}


.primary-btn {
  background-color: var(--secondary-blue);
  color: #FFF;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 1.2rem;
}