/* ************* Main ************* */
main {
    max-width: 100vw;
    overflow: hidden;
}

section.full-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

/* ************* Hero Banner ************* */
section.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    height: calc(100vh - var(--header-height));
    position: relative;
}

section.banner::before {
    content: "";
    position: absolute;
    background-color: rgba(37, 38, 40, 0.6);
    inset: 0;
}

section.banner .content {
    color: var(--header-bg);
    z-index: 1;
    max-width: 40rem;
    margin-left: var(--content-start);
    margin-right: var(--content-start);
}

section.banner .content h1 {
    font-size: 3.5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

section.banner .content p {
    margin: 1rem 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    line-height: 2;
    font-size: 1rem;
}


section.banner .content a.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

section.banner .content a.btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    /* background: linear-gradient(to right, var(--primary-dark) 0%, var(--primary) 100%); */
    background: var(--secondary-blue);
    border-radius: 1.625rem;
}

section.banner .content a.btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

section.banner .content a.btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

section.banner .content a.btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

section.banner .content a.btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

section.banner .content a.btn:hover .circle {
    width: 100%;
}

section.banner .content a.btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

section.banner .content a.btn:hover .button-text {
    color: var(--white);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}




/* ************* News ************* */
section.news {
    position: relative;
}

section.news .news-container {
    margin: 0 5vw;
    display: flex;
    padding: 4rem;
    border-radius: 1rem;
    align-items: center;
    gap: 4rem;
    background-color: var(--navbar-black);
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    box-shadow: 5px 20px 10px rgb(0 0 0 / 6%);
}

section.news .news-container .intro-title {
    width: fit-content;
    color: var(--header-bg);
    position: relative;
    flex-shrink: 0;
    /* prevents text from shrinking */
}

section.news .news-container .intro-title h2 {
    font-size: 2em;
    font-weight: 900;
    color: var(--primary-light);
}

section.news .news-container .intro-title .arrow {
    position: absolute;
    right: -5rem;
    bottom: -3rem;
}

section.news .news-container .intro-title .arrow img {
    width: 8rem;
}

#news-content {
    display: flex;
    gap: 2em;
}

#news-content a.swiper-slide {
    display: flex;
    gap: 1em;
    color: var(--header-bg);
    align-items: center;
    max-width: 26rem;
}

#news-content img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    border-bottom-right-radius: 0;
}

#news-content div {
    max-width: 20rem;
}

#news-content div p {
    font-size: smaller;
    color: var(--primary-light);
    margin-top: .5rem;
}

#news-content div p i {
    margin-right: .5rem;
}



/* ************* Services ************* */
section.services {
    padding: 0 var(--content-start);
    display: grid;
    place-content: center;
    gap: 4em;
    padding-top: 5rem;
}

.intro {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 2em;
    padding: 4em 0;
    align-items: center;
}

.intro .intro-title h2 {
    font-size: 2em;
    color: var(--secondary-blue);
    font-weight: 700;
}

.intro .intro-title p {
    color: var(--asterone-black);
    opacity: 0.8;
    position: relative;
    width: fit-content;
}

.intro .intro-description {
    color: var(--asterone-black);
}

.intro .intro-description p {
    line-height: 1.7em;
    font-size: 1.1em;
}

section.services .service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    /* grid-auto-rows: 20rem; */
    gap: 2em;
}

section.services .service-list li {
    /* cursor: pointer;
    display: grid;
    grid-template-rows: 7fr 3fr;
    gap: .5rem;
    overflow: hidden; */
}

.service__img {
    width: 100%;
    height: 15rem;
}

.service__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service__content h3 {
    color: var(--primary-dark);
}

/* ************* Partners ************* */
section.partners {
    background-image: url(../img/partners_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 var(--content-start);
    display: grid;
    place-content: center;
    gap: 4em;
}

section.partners ul {
    --slide-gap: 3rem;
    --slide-width: 200px;
    display: flex;
    gap: var(--slide-gap);
    justify-content: space-evenly;
}

section.partners ul li {
    width: var(--slide-width);
    height: 100px;
    /* overflow: hidden; */
}

section.partners ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Slider styles */
.slider-container {
    overflow: hidden;
    display: grid;
    gap: 3em;
}

.slider {
    position: relative;
    overflow: hidden;
    padding-bottom: inherit;
}

.slider::after,
.slider::before {
    content: "";
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 10%;
    z-index: 2;
    position: absolute;
    top: 0;
}

.slider::before {
    left: 0;
}

.slider::after {
    right: 0;
    transform: rotateZ(180deg);
}

.slider .slider-track {
    width: calc((var(--slide-width) + var(--slide-gap)) * 10);
    animation: scroll 30s linear infinite;
}

.slider.reverse .slider-track:hover,
.slider .slider-track:hover {
    animation-play-state: paused;
}

.slide img {
    transition: transform 0.4s ease-in-out;
}

.slide img:hover {
    transform: scale(1.1);
}

.slider.reverse .slider-track {
    animation: scroll 30s linear infinite reverse;
}


/* scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((-200px + 2em) * 5));
    }
}


/* ************* Testimonials ************* */
section.testimonials.full-page {
    padding: 4em var(--content-start);
    background-color: #f5f5f5;
}

section.testimonials ul.testimonial-cards {}

.testimonial {
    width: 25rem;
}

.testimonial .content {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    padding: 2em;
    position: relative;
    background-color: var(--white);
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.testimonial .content::after {
    /* small triange for a card using its after element*/
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 1.5rem solid var(--white);
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial .content .icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 4px;
    border: 1px dashed var(--primary);
    border-radius: 100%;
    margin-bottom: 15px;
    position: relative;
}

.testimonial .content .icon i {
    color: white;
    width: 50px;
    height: 50px;
    line-height: 41px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    background-color: var(--primary-dark);
}

.testimonial .content .icon::before,
.testimonial .content .icon::after {
    content: "";
    position: absolute;
    background-color: var(--primary-dark);
    height: 3px;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.testimonial .content .icon::before {
    margin-left: -100px;
    left: 0;
}

.testimonial .content .icon::after {
    margin-left: 100px;
    left: 0;
}

.testimonial .content p {
    text-align: center;
    font-size: 1.2em;
    color: var(--asterone-black);
    opacity: 0.8;
}

.testimonial .author .author-img {
    display: grid;
    place-content: center;
}

.testimonial .author .author-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial .author-title {
    text-align: center;
}

.testimonial .author-occupation {
    text-align: center;
}


/* testimonial Swiper styles */
section.testimonials .swiper {
    padding: 1em;
    width: 100%;
}

section.testimonials .swiper::after,
section.testimonials .swiper::before {
    content: "";
    background: linear-gradient(to right, rgb(245, 245, 245) 0%, rgba(245, 245, 245, 0) 100%);
    height: 100%;
    width: 10%;
    z-index: 2;
    position: absolute;
    top: 0;
}

section.testimonials .swiper::after {
    left: 0;
}

section.testimonials .swiper::before {
    right: 0;
    transform: rotateZ(180deg);
}

section.testimonials .swiper .swiper-wrapper {
    width: 30%;
}

section.testimonials .swiper .swiper-slide {
    cursor: grab;
    user-select: none;
}




/* ************* Team ************* */
#team {
    padding: 0 var(--content-start);
    position: relative;
}

.team__content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: "long short1 short2 long2"
        "long short3 short4 long2";
    gap: 1rem;
    position: relative;
}

#team img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.team__content img:first-child {
    grid-area: long;
}

.team__content img:last-child {
    grid-area: long2;
}

.team__content img:nth-child(2) {
    grid-area: short1;
}

.team__content img:nth-child(3) {
    grid-area: short2;
}

.team__content img:nth-child(4) {
    grid-area: short3;
}

.team__content img:nth-child(5) {
    grid-area: short4;
}

.team__content img:hover {
    transform: scale(1.01);
}

.team__popup {
    position: fixed;
    padding: 0 var(--content-start);
    background: rgba(0, 0, 0, 0.8);
    inset: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.2s ease-in-out;

}

.team__popup.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#team .team__popup img {
    object-fit: contain;
    max-height: 100vh;
    box-shadow: none;
    transition-delay: 200ms;
}


/* ************* CEO Message ************* */
section.message-ceo {
    position: relative;
    padding: var(--content-start);
}

section.message-ceo div.container-card {
    max-width: 70rem;
    max-height: 40rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 1px 2px 15px 8px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.message {
    text-align: center;
    padding: 5rem;
    background-color: var(--header-bg);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div.message h3 {
    font-size: 2rem;
    color: var(--secondary-blue);
}

div.message p {
    line-height: 2;
    color: var(--black);
}

div.message .signature {
    align-self: flex-end;
    width: 15rem;
}

div.message .signature img {
    width: 100%;
    object-fit: contain;
}

div.img-ceo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backdrop {
    position: absolute;
    color: var(--);
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    animation: rotate-backdrop 20s linear infinite;
}

.backdrop svg {
    width: 15rem;
}

.bg-element {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}

.bg-element svg {
    width: 40rem;
}

@keyframes rotate-backdrop {
    0% {
        transform: translateX(50%) rotate(0deg);
    }

    100% {
        transform: translateX(50%) rotate(360deg);
    }
}

