

div.sidenav{
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 1rem;
    background-color: var(--header-bg);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
div.sidenav a {
    padding: 1rem 2rem 1rem 3rem;
    font-size: 1.3rem;
    color: var(--asterone-black);
    display: block;
}
div.sidenav a:hover {
    color: var(--asterone-yellow);
}

/* cards */
div.whole-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}


.container {
    display: block;
    margin: 0px 20px;
  }
  
  .parent {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .wave-card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    position: relative;
    box-shadow: 11px 17px 48px #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
  }
  
    .wave-card-shape {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
    opacity: 0.6;
    top: -250px;
    left: -100px;
    border-radius: 150px;
    background: #ffd600;
    animation: rotate 30s linear infinite;
  }
  .wave-card-shape:nth-child(1) {
    top: -245px;
    left: -98px;
    opacity: 0.4;
    z-index: 2;
    animation: rotate 25s linear infinite;
  }
  .wave-card-shape:nth-child(2) {
    top: -240px;
    opacity: 0.3;
    z-index: 3;
    animation: rotate 32s linear infinite;
  }
  .wave-card-shape2 {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
    opacity: 0.6;
    top: -250px;
    left: -100px;
    border-radius: 150px;
    background: #004643;
    animation: rotate 30s linear infinite;
  }
  .wave-card-shape2:nth-child(1) {
    top: -245px;
    left: -98px;
    opacity: 0.4;
    z-index: 2;
    animation: rotate 25s linear infinite;
  }
  .wave-card-shape2:nth-child(2) {
    top: -240px;
    opacity: 0.3;
    z-index: 3;
    animation: rotate 32s linear infinite;
  }
  .wave-card-shape3 {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
    opacity: 0.6;
    top: -250px;
    left: -100px;
    border-radius: 150px;
    background:#d1ac00;
    animation: rotate 30s linear infinite;
  }
  .wave-card-shape3:nth-child(1) {
    top: -245px;
    left: -98px;
    opacity: 0.4;
    z-index: 2;
    animation: rotate 25s linear infinite;
  }
  .wave-card-shape3:nth-child(2) {
    top: -240px;
    opacity: 0.3;
    z-index: 3;
    animation: rotate 32s linear infinite;
  }
  .wave-card-shape4 {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
    opacity: 0.6;
    top: -250px;
    left: -100px;
    border-radius: 150px;
    background:#2a9d8f;
    animation: rotate 30s linear infinite;
  }
  .wave-card-shape4:nth-child(1) {
    top: -245px;
    left: -98px;
    opacity: 0.4;
    z-index: 2;
    animation: rotate 25s linear infinite;
  }
  .wave-card-shape4:nth-child(2) {
    top: -240px;
    opacity: 0.3;
    z-index: 3;
    animation: rotate 32s linear infinite;
  }




  .wave-card-subtitle {
    margin-bottom: 30px;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }


  /* Button Css */

  .fill-button {
    position: relative;
    overflow:hidden;
    display:inline-block;
    width:180px;
    height:60px;
    border:1px solid var(--asterone-yellow);
    text-align:center;
    color:var(--asterone-yellow);
    cursor: pointer;
    line-height:55px; 
    border-radius: 4px;
  }
  .fill-button > span {
    display:block;
  }
  .fill-button > .fill-button-hover:after, .fill-button > .fill-button-hover:before {
    position:absolute;
    top:0;
    opacity:0;
    display:block;
    content:"";
    width:0;
    height:60px;
  }
  .fill-button > .fill-button-hover:after {
    background-color: var(--asterone-yellow-darker);
    transform:skewX(45deg);
    transform-origin:center center;
    transition:all .35s, opacity .4s;
    left:50%;
  }
  .fill-button .fill-button-hover:before {
    background-color: var(--asterone-yellow-lighter);
    transition:opacity 1s;
  }
  
  .fill-button .fill-button-text {
    z-index:1;
    position:relative;
    color: var(--asterone-black);
    transition:color .35s;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .fill-button:hover .fill-button-text {
    color: #fff;
  }
  .fill-button .fill-button-hover:hover:after {
    opacity:1;
    left:2%;
    width:95%;
    transform:skewX(45deg);
  }
  .fill-button > .fill-button-hover:hover:before {
    opacity: 1;
    left: 0;
    width:100%;
  }











 
  @media (min-width: 40em) {
    section.about-job {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 4fr 4fr 6fr;
      grid-template-areas: '. . title' 'img img content' 'img img .';
      max-width: 65%;
      margin-right: auto;
      margin-left: auto;
    }
    section.about-job::after {
      content: '';
      grid-column: 2/-1;
      grid-row: 1/3;
      position: relative;
      z-index: -1;
      background: #fff;
      box-shadow: 0 0.2em 1em rgba(61,48,41,0.2);
    }
    section.about-job h1 {
      grid-area: title;
      padding-top: 5rem;
    }
    .content {
      grid-area: content;
      padding-bottom: 4rem;
      padding-right: 4rem;
    }
    .img {
      grid-area: img;
    }
  }
  section.about-job h1 {
    font-size: 4em;
    margin: 0 0 1rem;
    color: var(--asterone-yellow-darker);
    position: relative;
  }
  h1.about-job-title::after {
    content: '';
    position: absolute;
    width: 8rem;
    background-color: rgb(236, 211, 65);
    height: 2px;
    top: 4rem;
    left: 0;
  }
  @media (min-width: 40em) {
    h1::after {
      left: var(--box-x-padding);
      top: var(--box-y-padding);
    }
  }
  .content {
    margin-bottom: var(--box-y-padding);
  }
  @media (min-width: 40em) {
    .content {
      margin-bottom: 0;
    }
  }
 div.content p {
    margin-top: 0;
    margin-bottom: var(--box-y-padding);
    line-height: 2;
  }
  
  .img {
    position: relative;
  }
 
 div.img img {
    height: 90%;
    max-width: 100%;
    box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.3);
  }

  /* ============ Employment-record-Section  ============= */
 section.employment-record h1{
  padding-top: 1rem;
  font-size: 4em;
  color: var(--asterone-yellow-darker);
  position: relative;
 }
 section.employment-record h1::after {
  content: '';
  position: absolute;
  width: 8rem;
  background-color: rgb(236, 211, 65);
  height: 2px;
  top: 0;
  left: 0;
}
 div.employment-record-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
 }
 div.employment-record-card-left {
   box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.3);
   padding: 2rem;
   width: 44%;
   height: 330px;
 }
 div.employment-record-card-left h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--asterone-black);
 }
 div.employment-record-card-left h3{
   text-align: center;
 }
 div.employment-record-card-left p{
   padding: 1rem;
 }

 div.employment-record-card-right{
   box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.3);
   padding: 2rem;
 }
 
 div.employment-record-card-right h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--asterone-black);
 }

h3.years{
  padding: 1rem;
 } 
 div.employment-record-card-right p{
   padding: 1rem;
 } 