.banner-section {
    position: relative; 
    height: 60vh;
    padding: 6rem var(--content-start);
    overflow: hidden;
    display: grid;
    place-content: center;
}

.banner-section img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    filter: blur(1rem) brightness(0.8);
    z-index: -1;
}

div.services-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

div.services-container h2 {
    font-size: 2.5rem;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 60%);
}

div.services-container p {
    margin: 1rem 0;
    text-shadow: 1px 1px 5px black;
    line-height: 2;
    font-size: 1.1rem;
}


section.services .cards {
    --border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 2em;
    width: 100%;
    place-content: center space-between;
    justify-content: center;
    margin-bottom: 5rem;
}

section.services .cards li.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 20%);
    border-radius: var(--border-radius);

}

section.services .cards li.card .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

section.services .cards li.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: calc(var(--border-radius) / 2);
    transition: all 0.35s ease-in;
}

section.services .cards li.card .card-content {
    position: relative;
}

section.services .cards li.card .card-content .card-icon {
    background-color: white;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    right: 5%;
}

section.services .cards li.card .card-content .card-icon i {
    font-size: 1.5em;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

section.services .cards li.card .card-content .card-text {
    margin: 2em 0;
}

section.services .cards li.card .card-content h3 {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--asterone-black);
}

section.services .cards li.card .card-content p {
    opacity: 0.7;
    padding-right: 10px;
}

section.services .cards li.card .card-footer {
    border-radius: calc(var(--border-radius) / 2);
    background-color: #f5f5f5;
    padding: 12px 1em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

section.services .cards li.card .card-footer p {
    color: var(--asterone-black);
    font-weight: 600;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
}

section.services .cards li.card .card-footer::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: var(--primary);
    opacity: 80%;
    transform: rotate(-55deg);
    left: 160px;
    transition: all 0.3s ease-in-out;
}

section.services .cards li.card .card-footer i {
    color: #f5f5f5;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    /* margin: 0 5px; */
}

/* Main > Services > Hover effects */

section.services .cards li.card:hover .card-image img {
    transform: scale(1.1);
}

section.services .cards li.card:hover .card-footer {
    background-color: var(--primary);
}

section.services .cards li.card:hover .card-footer p,
section.services .cards li.card:hover .card-content i {
    color: var(--asterone-black);
}

section.services .cards li.card:hover .card-footer i {
    color: var(--primary);
}

section.services .cards li.card:hover .card-footer::after {
    background-color: var(--asterone-black);
}

section.card-section {
    display: flex;
}


section.card-section {
    padding: 4rem var(--content-start);
    z-index: -1;
}

img.bg4 {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

/* SVG  */
.bg-element {
    /* z-index: -1; */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}

.bg-element svg {
    width: 16rem;
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    animation: rotate-backdrop 20s linear infinite;
    width: 14%;
}

@keyframes rotate-backdrop {
    0% {
        transform: translateX(50%) rotate(0deg);
    }

    100% {
        transform: translateX(50%) rotate(360deg);
    }
}

#goTop {
    position: fixed;
    bottom: 4rem;
    right: 5rem;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background: var(--primary);
    color: var(--black);
    font-size: 1.3rem;
    padding: 1rem 1.3rem;
    box-shadow: 1px 2px 15px 8px rgb(0 0 0 / 10%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
}

#svg-bg {
    z-index: 0;
}

#svg-bg svg {
    width: 60%;
}