/* 
#container {
    display: grid;
    justify-content: center;
    justify-self: center;
    min-height: 40vh;
    min-width: 40vw;
    padding: 1rem;
    margin: 4% 0;
    border: 1px solid #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#container div.sitemap {
    width: 40vw;
}

#container div.sitemap h1 {
    text-align: center;
    color: var(--asterone-yellow);
    padding: 2rem;
}

div.sitemap-links {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

div.sitemap-links ul {
    text-align: start;
}

div.sitemap-links p {
    color: var(--asterone-black);
    font-weight: bold;
}

div.sitemap-links p:hover {
    color: var(--asterone-yellow);
} */

#container {
    display: grid;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
div.line-div {
    display: grid;
    justify-self: center;
    height: 1px;
    width: 300%;
    border: 1px solid var(--asterone-black);
    background-color: var(--asterone-black);  
}

#container h1 {
    color: var(--asterone-yellow);
}
div.homepage {
    border: 1px solid var(--asterone-black-light);
    text-align: center;
    padding: 2rem;
}
#container a {
    font-size: 1.5rem
}

div.homepage a i {
    display: block;
    font-size: 4rem;
    color: var(--asterone-yellow-lighter);
    position: relative;
    top: -70px;
}

div.sitemap-links {
    border: 1px solid var(--asterone-black-light);
    text-align: center;
    padding: 2rem;
    
}
div.sitemap-links a i {
    display: block;
    font-size: 4rem;
    color: var(--asterone-yellow-lighter);
    position: relative;
    top:-60px;
}

div.links-child {
    border: 1px solid var(--asterone-black-light);
    text-align: center;
    padding: 2.5rem;
}
