@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

body h1 {
    text-align: center;
    color: #428bff;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
}

.tabs {
    position: relative;
    margin-top: 2rem;
    padding-bottom: 80px;
    min-width: 240px;
    overflow: hidden;
}

.tabs input[name="tab-control"] {
    display: none;
}

.tabs .content section h2.mobile-title,
ul#tab-ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428bff;
}

ul#tab-ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

ul#tab-ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

ul#tab-ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    user-select: none;
}

ul#tab-ul li label br {
    display: none;
}

ul#tab-ul li label:hover,
ul#tab-ul li label:focus,
ul#tab-ul li label:active {
    outline: 0;
    color: var(--secondary-blue);
}

.tabs #slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs #slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428bff;
    border-radius: 1px;
}

.tabs .content {
    margin-top: 30px;
}

.tabs .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs .content section h2.mobile-title {
    color: #428bff;
    display: none;
}

.tabs .content section h2.mobile-title::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428bff;
    margin-top: 5px;
    left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: #428bff;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~#slider {
    transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    color: #428bff;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~#slider {
    transform: translateX(300%);
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.content .meet {
    margin: 3rem var(--content-start);
}

h2.top-title-newbiz {
    text-align: center;
    margin: 3em var(--content-start);
    color: #929daf;
    font-size: 2em;
}

ul#individuals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 4rem 2rem;
    user-select: none;
}

.content .img-box {
    padding: 0;
    cursor: pointer;
}

.content .img-box img {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    aspect-ratio: 1 / 1;
}

.content .img-box.active img,
.content .img-box img:focus-visible,
.content .img-box:hover img,
.content .img-box:focus img {
    border-color: #428bff;
    transform: scale(1.05);
}

.content ul li img {
    border: 0.8rem solid transparent;
    border-radius: 2em;
    outline: none;
}

.content ul#individuals li:nth-child(1) img {
    border-radius: 50% 30% 40% 20%;
}

.content ul#individuals li:nth-child(2) img {
    border-radius: 20% 50% 30% 40%;
}

.content ul#individuals li:nth-child(3) img {
    border-radius: 50% 60% 80% 50%;
}

.content ul#individuals li:nth-child(4) img {
    border-radius: 30% 50% 40% 50%;
}

.content ul#individuals li:nth-child(5) img {
    border-radius: 50% 20% 50% 20%;
}

ul.descriptions {
    position: relative;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

ul.descriptions li.active {
    visibility: visible;
    opacity: 1;
}

ul.descriptions li,
.member-info {
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

ul.descriptions li:focus .blob,
ul.descriptions li:hover .blob {
    visibility: visible;
    opacity: 1;
}

ul.descriptions li h2,
.member-info h2 {
    color: #428bff;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

ul.descriptions li h3,
.member-info h3 {
    margin: 0;
    color: #afafaf;
    margin-bottom: 0.5rem;
    text-align: center;
}

ul.descriptions li p,
.member-info p {
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    line-height: 1.5;
}

/* ul.descriptions li .blob { */
.blob {
    position: absolute;
    left: 0;
    z-index: -1;
    visibility: hidden;
    top: -50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.img-box.active .blob {
    visibility: visible;
    top: 0;
    opacity: 1;
}

/* ul.descriptions li .blob svg { */
.blob svg {
    max-height: 100%;
    width: 100%;
    fill: var(--primary-bg);
}

.blob path {
    animation: blob 7s linear infinite;
}

@keyframes blob {
    0% {
        d: path("M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
            );
    }

    25% {
        d: path("M67.8,-97.1C87.8,-78.8,103.8,-58.9,117.4,-34.1C130.9,-9.4,142,20.2,139.5,50.7C137,81.2,120.8,112.6,95.3,150.1C69.8,187.7,34.9,231.3,3.3,226.8C-28.2,222.2,-56.4,169.3,-91.6,134.9C-126.8,100.5,-169,84.6,-179.6,57.1C-190.2,29.7,-169.3,-9.3,-155.2,-49.7C-141,-90.1,-133.7,-132,-109,-148.8C-84.2,-165.6,-42.1,-157.3,-9.1,-144.8C23.9,-132.2,47.8,-115.5,67.8,-97.1Z"
            );
    }

    50% {
        d: path("M137.1,-191.3C172,-163.4,190.6,-115.7,197.2,-70.1C203.8,-24.4,198.5,19.2,178.9,51.5C159.3,83.9,125.5,105,93.3,129.6C61.1,154.1,30.6,182.1,1.1,180.6C-28.4,179.1,-56.8,148.2,-81.2,121.1C-105.6,94.1,-126.1,70.8,-141.6,41.6C-157.2,12.4,-168,-22.9,-153.9,-45C-139.8,-67,-100.7,-76,-70.9,-105.5C-41.1,-135,-20.6,-185,15.3,-206C51.1,-227.1,102.3,-219.1,137.1,-191.3Z"
            );
    }

    75% {
        d: path("M123.7,-157.1C162.4,-142.2,197.2,-108.8,202.8,-70.8C208.3,-32.9,184.5,9.7,169,54.2C153.6,98.7,146.4,145.2,119.7,162.7C92.9,180.2,46.4,168.6,-1.9,171.1C-50.2,173.7,-100.3,190.4,-122.2,171.3C-144.1,152.3,-137.7,97.5,-144.1,52.7C-150.6,7.9,-169.9,-26.8,-170.5,-64.8C-171,-102.8,-152.8,-144,-121.3,-161.3C-89.7,-178.5,-44.9,-171.8,-1.2,-170.1C42.5,-168.5,85,-172,123.7,-157.1Z"
            );
    }

    100% {
        d: path("M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
            );
    }
}
/* BG IMG */
.newbiz-bg-img {
    position: absolute;
    right: 0;
    opacity: 0.2;
    top: 46%;
}

.content .group {
    width: 110%;
    height: fit-content;
    margin: 1rem -4rem;
    display: flex;
    gap: 2rem;
}

.content .group>div {
    height: 25rem;
}

.content .group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.content .group img:hover {
    transform: scale(0.98);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.content .group .left {
    flex: 5;
}

.content .group .right {
    flex: 3;
}

div.about-container {
    position: relative;
    display: grid;
    place-content: center;
    margin: 2rem var(--content-start);
}

div.newbiz-text {
    text-align: start;
    padding: 4em var(--content-start);
    line-height: 1.5;
}
div.newbiz-text h3 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 3em;
    color: #a2a4b0;
}
div.newbiz-text p {
    line-height: 2;
    font-size: 1.2em;
}


/* SECTION WORK WITH US */
.work-with-us {
    margin: 4rem var(--content-start);
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}

.work-with-us header {
    text-align: center;
    z-index: 1;
}

.work-with-us header h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0;
}

.work-with-us header p {
    color: #2f2e41;
    margin-bottom: 0.2rem;
    font-size: 1.2em;
}

a.button {
    margin-top: 1rem;
}

.work-with-us header .button {
    position: relative;
    top: 2.5rem;
    background: #428bff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
}

.work-with-us header .button:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* SYSTEM Kaihatsu team */


/* HIVE styles */
#hive {
    --l: calc(100vw / var(--n-cols));
    --hl: calc(0.5 * var(--l));
    --ri: calc(0.5 * 1.73205 * var(--l));
    box-sizing: border-box;
    display: grid;
    place-content: center;
    grid-template: repeat(var(--n-rows), var(--l)) / repeat(var(--n-cols), var(--ri));
    grid-gap: var(--hl) 0;
    margin: 0;
    padding: var(--hl) 0;
}

.hex-cell {
    overflow: hidden;
    grid-column-end: span 2;
    margin: calc(-1 * var(--hl)) 0;
    transform: scale(0.9);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    user-select: none;
    perspective: 1000px;
    cursor: grab;
}

.hex-cell img {
    --hl: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.7s;
    backface-visibility: hidden;
}

.hex-cell .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    clear: both;
}

.hex-cell:hover .inner {
    transform: rotateY(180deg);
}

.hex-cell:hover .blob {
    visibility: visible;
    opacity: 1;
}

.hex-cell .blob {
    top: 10%;
    left: 2rem;
}

.hex-cell .member-info {
    padding: 1rem;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 0rem;
    transform: rotateY(180deg);
    display: grid;
    place-content: center;
}

.hex-cell.active img,
.hex-cell img:hover {
    --hl: 1;
}


/* ============== Solution team ================ */
h2.se-team-member-name {
    color: var(--secondary-blue);
    font-weight: bold;
    font-size: 1.8rem;
}
.se-team-member-info h3 {
    color: #afafaf;
}

.list-members {
    padding: 0 var(--content-start);
    display: flex;
    flex-wrap: wrap;
}
.member {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member-image {
    width: 50%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.member-image img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.member-image:hover img {
    transform: scale(1.1);
}

.se-team-member-info {
    width: 50%;
    text-align: center;
}

.se-team-member-info p {
    margin: 20px 24px;
    text-align: center;
}

/* style social link */
.social-link .fab {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    margin: 0 7px;
    cursor: pointer;
    transition: transform 0.5s;
}

.social-link .fab:hover {
    background: var(--asterone-black);
    color: #ffe501;
    transform: translateY(-7px);
}

.member-image::after {
    content: "";
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-right: 27px solid #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* =================== JOHOSYSTEM TEAM ======================= */
