div.team-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
section.team {
    padding: 0 var(--content-start);
}

figure.fancy-card {
    position: relative;
    overflow: hidden;
    min-width: 380px;
    max-width: 480px;
    width: 100%;
    background: #ffffff;
    color: #000000;
}
figure.fancy-card * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
figure.fancy-card .image {
    width: 50%;
    overflow: hidden;
    z-index: 1;
    transform: skewX(-15deg);
}
figure.fancy-card .image img {
    position: relative;
    display: block;
    left: -15%;
    z-index: 1;
    transform: skew(15deg);
}
figure.fancy-card:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.2);
    transform: skewX(-17deg);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.fancy-card figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    right: 0;
    bottom: 2rem;
    width: 50%;
}
figure.fancy-card figcaption h2,
figure.fancy-card figcaption p {
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
figure.fancy-card figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.fancy-card figcaption h2 span {
    font-weight: 800;
}
figure.fancy-card figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
}

figure.fancy-card .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
}
figure.fancy-card.blue .position {
    background: #20638f;
}
figure.fancy-card.red .position {
    background: #962d22;
}
figure.fancy-card.yellow .position {
    background: #bf6516;
}

@keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
}

.card {
    width: 450px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}
.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
}
.card:hover .card__image {
    transform: scale(1.1);
    transition-delay: 100ms;
}
.card:hover .card__thumb::after {
    top: 0;
}
.card:hover .card__snippet {
    margin: 20px 0;
}
.card__thumb {
    position: relative;
    height: 100%;
    overflow: hidden;
}
@media (min-width: 1024px) {
    .card__thumb {
        max-height: 500px;
    }
}
.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
    }
}
.card__image {
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__caption {
        top: calc(100% - 110px);
        transform: unset;
    }
}
.card__title {
    display: block;
    max-height: 85px;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.card__snippet {
    display: block;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
}
@media (min-width: 1024px) {
    .card__snippet {
        margin: 60px 0;
    }
}

/* ================ TESTING =============== */
.box-team {
    padding: 0;
    position: relative;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff6b2f, #e8452b, #ff3c3f, #e82b8d, #fd2fff);
    transition-duration: 0.5s;
    animation: Gradient 5s ease infinite;
    opacity: 0.9;
    overflow: hidden;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.ux {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.top {
    padding: 5rem 10rem;
    box-sizing: border-box;
}
.img-icon {
    width: 100px;
    height: 100px;
}
h1,
h2,
p,
h3 {
    color: white;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    padding-left: 1rem;
    opacity: 0.6;
}

h2 {
    font-size: 0.8rem;
}

h3 {
    text-transform: uppercase;
}

.full-screen {
    height: 100vh;
    position: relative;
}

.hover-screen {
    cursor: pointer;
    opacity: 0;
    transition-duration: 0.5s;
    position: relative;
    z-index: 10;
}
.hover-screen > h2 {
    color: white;
    font-size: 5rem;
    transform: rotateZ(-90deg) translateX(-150%) translateY(-25%);
    transition-duration: 0.6s;
}

.hover-screen:hover {
    opacity: 1;
}
.hover-screen:hover > h2 {
    transform: rotateZ(-90deg) translateX(-50%) translateY(-25%);
}

.hover-screen:nth-child(1) {
    background: url(https://images.pexels.com/photos/888956/pexels-photo-888956.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: 85% 0;
}

.hover-screen:nth-child(2) {
    background: url(https://images.pexels.com/photos/1030895/pexels-photo-1030895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: 50% 0;
}
.hover-screen:nth-child(3) {
    background: url(https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.hover-screen:nth-child(4) {
    background: url(https://images.pexels.com/photos/1182733/pexels-photo-1182733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: 85% 0;
}

.team-inf {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 20;
    transform: translate(0, 100%);
    transition-duration: 0.5s;
}

.img-container {
    padding: 1.2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.close-icon {
    position: absolute;
    top: 1.2rem;
    left: 2.5rem;
    font-size: 3rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.close-icon:hover {
    transform: scale(1.2);
}

.team-inf-container > h3 {
    padding-left: 5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    color: black;
}

.text {
    color: black;
    padding-left: 5rem;
}

/* ==================== TESTING ENDS ==================== */
