
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
section.test-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3em;
    margin-top: 2rem;
    width: 100%;
}
section.test-section::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#ffeb3b,#e91e63);
    border-radius: 50%;
    transform: translate(-420px,-180px);
}
section.test-section::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#2156f3,#83d3ff);
    border-radius: 50%;
    transform: translate(400px,180px);
}
.container-test {
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 800px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.container-test::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container-test h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
}
textarea {
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
}

.margin {
    margin-top: 2rem;
    height: 100%;
    width: 50%;
}












/* .container-test .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container-test .row100 .col-test {
    position: relative;
    width: 100%;
    padding: 0 0.8rem;
    margin: 30px 0 20px;
}
.container-test .row100 .col-test .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.container-test .row100 .col-test .inputBox input, 
.container-test .row100 .col-test .inputBox textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container-test .row100 .col-test .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 1.5rem;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container-test .row100 .col-test .inputBox input:focus + .text,
.container-test .row100 .col-test .inputBox input:valid + .text,
.container-test .row100 .col-test .inputBox textarea:focus + .text,
.container-test .row100 .col-test .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}
    
.container-test .row100 .col-test .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container-test .row100 .col-test .inputBox input:focus ~ .line,
.container-test .row100 .col-test .inputBox input:valid ~ .line {
    height: 100%;
} 
.container-test .row100 .col-test .inputBox .textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container-test .row100 .col-test .inputBox textarea:focus ~ .line,
.container-test .row100 .col-test .inputBox textarea:valid ~ .line {
    height: 100%;
}  */
 @media (max-width: 768px) {
    section.test-section::before {
        transform: translate(-200px,-180px);
    }
    section.test-section::after {
        transform: translate(200px,180px);
    }
    .container-test {
        padding: 20px;
    }
 }