@media screen and (max-width: 1440px) {
    /* bottom svg */
    .backdrop {
        right: 16%;
        bottom: -10%;
    }
}
@media screen  and (max-width: 1024px){
    section.value1 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .vision {
        width: 80%;
    }
    .about {
        width: 50rem;
    }
    section.company-data .map {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 768px) {
    .backdrop {
        right: 16%;
        bottom: -10%;
    }
    section.company-data .map {
        transform: translate(-242px, 304px) scale(2);
    }
    .backdrop {
        right: 34%;
        bottom: -17%;
    }
    section.company-data .map {

        transform: scale(2);
        position: absolute;
        top: 0;
        bottom: 17%;
        right: 20%;
    }
}

@media screen and (max-width: 425px) {
    /* title */
    .description h1 {
        font-size: 2rem;
    }
    section.about-company .emphasis {
        font-size: 3rem;
    }
    /* svg */
    section.company-data .map {
        display: none;
    }
    .backdrop {
        display: none;
    }
}