/* HEADER */
@media screen and (max-width: 750px) {
    #header .top {
        display: none;
    }

    .hamburger {
        transform: scale(1);
        opacity: 1;
        cursor: pointer;
    }

    nav {
        text-align: left;
        background-color: var(--navbar-black);
        width: 100%;
        position: absolute;
        left: 0;
        top: -100%;
        transform: scale(0) translate(100%);
        transition: all 0.3s ease-in-out;
    }

    nav ul {
        padding: 1.5rem var(--content-start);
    }

    nav ul {
        flex-direction: column;
        width: fit-content;
    }

    nav li a {
        position: relative;
        text-decoration: none;
        color: var(--light-gray);
        font-size: 1.1em;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }

    nav li a:before {
        content: "";
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }

    nav li a:hover {
        color: var(--primary-dark);
    }

    /** Animations for hamburger menu **/
    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }

    #toggle:checked+.hamburger+nav {
        top: 0;
        transform: scale(1);
    }
}

/* Footer */
@media screen and (max-width: 991px) {
    /* footer {
        padding: 40px;
    } */

    footer .footer-container .sec {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    footer .footer-container .sec.about-us,
    .quick-links,
    .contact {
        width: 100%;
    }

    .copyright-text {
        padding: 0;
    }
}

@media screen and (max-width: 545px) {
    footer .footer-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    footer .contact {
        display: none;
    }
}