/* Main section */
/* Hero banner */
@media screen and (max-width: 750px) {
    section.banner .content h1 {
        font-size: 2.5rem;
    }

    section.banner .content p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 520px) {

    /* Hero banner */
    section.banner .content h1 {
        font-size: 2rem;
    }

    section.banner .content p {
        font-size: 1rem;
        line-height: 1.5;
    }

}

@media screen and (max-width: 430px) {

    /* Hero banner */
    section.banner .content h1 {
        font-size: 1.5rem;
    }

    section.banner .content p {
        font-size: .9rem;
        line-height: 1.7;
    }

}


/* Main section */
/* Hero banner */
@media screen and (max-width: 750px) {
    section.banner .content h1 {
        font-size: 2.5rem;
    }

    section.banner .content p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 520px) {

    /* Hero banner */
    section.banner .content h1 {
        font-size: 2rem;
    }

    section.banner .content p {
        font-size: 1rem;
        line-height: 1.5;
    }

}

@media screen and (max-width: 430px) {

    /* Hero banner */
    section.banner .content h1 {
        font-size: 1.5rem;
    }

    section.banner .content p {
        font-size: .9rem;
        line-height: 1.7;
    }

}



/* NEWS section */
@media screen and (max-width: 1024px) {
    section.news .news-container {
        padding: 2rem;
    }

    section.news .news-container .intro-title .arrow {
        bottom: -2rem;
        left: 3.5rem;
    }

    #news-content div {
        max-width: 15rem;
    }

    #news-content a.swiper-slide {
        max-width: fit-content;
    }
}


/* @media screen and (max-width: 750px) {} */
@media screen and (max-width: 768px) {
    section.news .news-container {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: self-start;
        margin: 0;
        border-radius: 0;
    }

    section.news .news-container .intro-title {
        display: none;
    }

    #news-content img {
        width: 5rem;
        height: 5rem;
        border-bottom-right-radius: 0;
    }

    #news-content div {
        max-width: 15rem;
    }

    #news-content h3 {
        font-size: 1rem;
        font-weight: normal;
    }
}

@media screen and (max-width: 425px) {
    section.news .news-container {
        flex-direction: column;
        position: relative;
        top: 0;
        transform: translateY(0);
        align-items: center;
    }

    section.news .news-container .intro-title {
        display: block;
        text-align: center;
    }

    #news-content a.swiper-slide {
        max-width: 100%;
    }

    section.news .news-container .intro-title .arrow {
        display: none;
    }

    #news-content div {
        max-width: 100%;
    }

    #news-content {
        flex-direction: column;
        width: 100%;
    }
}


/* TITLES */
@media screen and (max-width: 1024px) {
    .intro {
        grid-template-columns: 3fr 7fr;
        gap: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}



/* PARTNERS */
@media screen and (max-width: 500px) {
    section.partners ul {
        --slide-gap: 1rem;
        --slide-width: 150px;
    }
}



/* Testimonials */
@media screen and (max-width: 768px) {
    .testimonial {
        width: 22rem;
        font-size: small;
    }
}

@media screen and (max-width: 425px) {
    .testimonial {
        width: 17rem;
        /* font-size: small; */
    }
}

@media screen and (max-width: 420px) {
    .testimonial .content .icon::before {
        margin-left: -3.5rem;
        left: 0;
        width: 2rem;
    }

    .testimonial .content .icon::after {
        margin-left: 5rem;
        left: 0;
        width: 2rem;
    }
}




/* Go to top */
@media screen and (max-width: 768px) {
    #goTop {
        bottom: 2rem;
        right: 1rem;
        font-size: 1rem;
        padding: .7rem 1rem;
    }
}


/* CEO MESSAGE */
@media screen and (max-width: 1160px) {
    div.message {
        padding: 3rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 970px) {
    div.message {
        gap: .3rem;
        padding: 2rem;
    }

    div.message h3 {
        font-size: 1.5rem;
    }

    section.message-ceo div.container-card {
        font-size: small;
    }

    div.message .signature {
        width: 10rem;
    }
}

@media screen and (max-width: 600px) {
    section.message-ceo {
        position: relative;
        padding: 0 var(--content-start);
    }

    section.message-ceo div.container-card {
        /* display: flex; */
        grid-template-columns: 1fr;
    }

    div.message h3 {
        font-size: 1.3rem;
    }

    div.img-ceo {
        display: none;
    }



}



/* Backdrop */
@media screen and (max-width: 1290px) {
    .backdrop svg {
        width: 8rem;
    }

    .bg-element svg {
        width: 20rem;
    }

}

@media screen and (max-width: 768px) {
    .backdrop svg {
        width: 6rem;
    }

    .bg-element svg {
        width: 16rem;
    }
}

@media screen and (max-width: 420px) {
    .backdrop svg {
        width: 4rem;
    }

    .bg-element svg {
        width: 12rem;
    }
}