@media screen and (max-width: 1347px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.2rem;
    }
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    li {
        display: block;
    }

    .col {
        flex-basis: 100%;
    }

    .col {
        display: flex;
        padding: 10px 0;
    }
}

@media (max-width: 800px) {
    #gallery {
        /* display: flex; */
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }

    #gallery > div {
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 800px) and (max-width: 350px) {
    #gallery > div {
        width: 98%;
    }
}
@media screen and (max-width: 1006px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 936px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 839px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 672px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 579px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 471px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .title h1 {
        font-size: 1em;
    }
}
