@media screen and (max-width: 1347px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 1006px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 936px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 839px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 672px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 579px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 471px) {
    /* title */
    section.catch-phrase h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .title h1 {
        font-size: 1em;
    }
}
