@media screen and (max-width: 1024px) {
    /* SVG */
    .backdrop svg {
        width: 10rem;
    }
}
@media screen and (max-width: 1025px) {
    /* title p */
    div.services-container p {
        padding: 1rem 15%;
    }
}
@media screen and (max-width: 830px) {
    /* title h2 */
    div.services-container h2 {
        font-size: 2.3em;
    }
  
    div.services-container p {
        padding: 1rem 14%;
    }
}
@media screen and (max-width: 762px) {
    div.services-container h2 {
        font-size: 2em;
    }
  
    div.services-container p {
        padding: 1rem 8%;
    }
}
@media screen and (max-width: 661px) {
    .banner-section {
        padding: 3rem var(--content-start);
    }

    div.services-container h2 {
        font-size: 1.8em;
    }
  
}
@media screen and (max-width: 593px) {
    div.services-container h2 {
        font-size: 1.6em;
    }
  
}
@media screen and (max-width: 529px) {
    div.services-container h2 {
        font-size: 1.4em;
    }
  
}
@media screen and (max-width: 465px) {
    .bg-element {
        display: none;
    }
    .backdrop {
        display: none;
    }
   
    div.services-container p {
        padding: 1rem 6%;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 455px) {
    div.services-container h2 {
        font-size: 1em;
    }
  
}
@media screen and (max-width: 377px) {
    
    div.services-container p {
        padding: 1rem 4%;
    }
}
@media screen and (max-width: 342px) {
    div.services-container h2 {
        font-size: 0.8em;
    }
    div.services-container p {
        padding: 1rem 1rem;
        font-size: 0.8em;
    }
}