@media screen and (max-width: 618px) {
    .col-2 {
        font-size: 1em;
    }
}
@media screen and (max-width: 389px) {
    .col-2 {
        font-size: 0.8em;
    }
}

@media all and (max-width: 767px) {
    .responsive-table li.row {
      padding: 1rem;
    }
  }
  